:root {
  --clr-primary-400: hsl(25, 97%, 53%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(217, 12%, 63%);
  --clr-neutral-400: hsl(216, 12%, 54%);
  --clr-neutral-500: hsl(216, 12%, 25%);
  --clr-neutral-600: hsl(213, 19%, 18%);
  --clr-neutral-800: hsl(216, 12%, 8%);

  --ff-base: "Overpass", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styling */

body {
  font-family: var(--ff-base);
  font-size: 0.9375rem;
  font-weight: var(--fw-regular);
  background-color: var(--clr-neutral-800);

  display: grid;
  place-content: center;
  margin: 1rem;
}

.card {
  background-color: var(--clr-neutral-600);
  padding: 1.5rem;
  max-width: 350px;
  height: 350px;
  border-radius: 1rem;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  gap: 1.2rem;
}

h1 {
  color: var(--clr-neutral-100);
}

p {
  color: var(--clr-neutral-200);
}

footer {
  margin-top: 2rem;
}

/* Main card styling */

.star__icon {
  background-color: var(--clr-neutral-500);
  border-radius: 50%;
  padding: 0.6rem;
  width: 2rem;
}

.main__text {
  line-height: 1.5rem;
}

.rating__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.rating__btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-500);
  color: var(--clr-neutral-200);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  transition: 0.3s;
}

.rating__btn:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-100);
}
.rating__btn:active {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.submit__btn {
  width: 100%;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  line-height: 2;
  padding: 0.3rem 0;
  border-radius: 500px;
  font-weight: var(--fw-regular);
  transition: 0.3s;
}

.submit__btn:is(:hover, :focus, :active) {
  cursor: pointer;
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
}

/* Thank you card */

.hidden {
  display: none;
}

.thank__card {
  justify-items: center;
}

.thank__card img {
  width: 45%;
}

.rating__choice {
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-500);
  padding: 0.2rem 1rem;
  border-radius: 500px;
  line-height: 2;
}

.main__thank-text {
  text-align: center;
}
